go 1.20

use (
	.
	modules/lib/protos
	modules/apps/anthaathi-notifier/engine
	modules/lib/anthaathi-html-template-json-schema
	modules/pipelines/sync-users-to-elastic
	modules/apps/anthaathi-document-classifier/processor
)
